{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for('static', filename='javascript/history.js') }}"></script>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Playlist history</h1>
    {% if playlists|length < 1 %}
    <h4>There are no playlists. Create one <a href="{{ url_for('playlist') }}">here</a>.</h4>
    {% else %}
    <table class="table table-bordered playlist-table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Spotify Link</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in playlists %}
            <tr>
                <th scope="row">{{ playlist.id }}</th>
                <td>{{ playlist.name }}</td>
                <td>{{ playlist.description }}</td>
                <td><a href="{{ playlist.spotify_link }}">Spotify</a></td>
                <td>
                    <button type="button" id="{{playlist.id}}" class="btn btn-danger" onclick="delete_playlist(this.id)">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <a href="/playlist">Click here to create another playlist!</a>
</div>

{% endblock %}